/* 基础公共样式：清除默认样式 + 设置通用样式 */
* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}


li {
    list-style: none;
}

body {
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    background: #f3f5f7;
}

a {
    color: #333;
    text-decoration: none;
}

/*版心居中*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/*头部*/
.header {
    height: 41px;
    margin: 30px 180px;
}

/*头部logo*/
.logo {
    float: left;
    width: 195px;
    height: 41px;
}

/*导航*/
.nav {
    float: left;
    margin: 0 70px;
    height: 41px;

}

.nav li{
    float: left;
    height: 41px;
    margin-right: 26px;
}

.nav li a {
    display: inline-block;
    padding: 0 9px;
    line-height: 41px;
    height: 41px;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    color: #333333;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/*搜索*/
.search {
    float: left;
    margin-left: 59px;
    width: 412px;
    height: 40px;
    background: purple;
    border: 1px solid #00a4ff;
}

.search input {
    float: left;
    padding-left: 20px;
    font-size: 18px;
    width: 362px;
    height: 38px;
}

.search input::placeholder {
    font-size: 14px;
    color: #999999;
}

.search button {
    float: left;
    width: 48px;
    height: 38px;
    border-left: 1px solid #00a4ff;
    background: white url("../src/images/search.png") no-repeat center;
}

/*用户*/
.user {
    float: right;
    margin-right: 35px;
    height: 42px;
    line-height: 42px;
}

.user img {
    vertical-align: middle;
}


/*轮播图banner*/
.banner {
    height: 420px;
    background: #0092cb;
}

.banner .wrapper {
    height: 420px;
    background-image: url('../src/uploads/banner.png');
}

.banner .left {
    padding: 10px 20px;
    line-height: 44px;    /*行高可以继承给子集*/
    float: left;
    width: 190px;
    height: 420px;
    background-color: #005576;
    
}

.banner .left a {
    color: white;
    font-size: 14px;
}

.banner .left a:hover{
    color: #00a4ff;
}

.banner .right {
    float: right;
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: #fff;
}

.banner .right h2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #9bceea ;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
}

.banner .right .content {
    padding: 0 18px;
}

.banner .right .content dl {
    padding: 10px 0;
    border-bottom: 2px solid #e5e5e5;
}

.banner .right .content dt {
    font-size: 16px;
    line-height: 20px;
    color: #7d7d7d;
}

.banner .right .content dd {
    font-size: 14px;
    line-height: 20px;
    color: #7d7d7d;
}

.banner .right .more {
    margin: 6px auto 11px;
    display: block;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #00a4ff;
}

/*精品推荐*/
.goods {
    margin-top: 8px;
    padding-left: 34px;
    padding-right: 26px;
    width: 1200px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0
    rgba(211, 211, 211, 0.5);
}

.goods h2 {
    float: left;
    line-height: 60px;
    color: #00a4ff;
    font-weight: 400;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    line-height: 60px;
    float: left;
}

.goods li a {
    padding: 0 24px;
    border-left: 1px solid #bfbfbf;
    font-size: 16px;

}

.goods .change_interest {
    line-height: 60px;
    font-size: 14px;
    color: #00a4ff;
    float: right;
}


.recommend {
    margin: 10px auto;
    width: 1200px;
    height: 601px;
    background: gray;
}

.bottom {
    height: 273px;
    background: tan;
}